*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    background-color: rgb(222, 239, 240);
}

/* First Container */

.first-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffff;
}

.first-container h1{
    padding-top: 20px;
    font-size: 1em;
    color:  hsl(179, 62%, 43%);
}

.first-container h4{
    margin-top: 20px;
    font-size: 1em;
    color: hsl(71, 73%, 54%);
}

.first-container p{
    margin-top: 20px;
    color:hsl(218, 22%, 67%);
    font-size: 1em;
}

/* Second Container */

.second-container{
    background-color: hsl(179, 62%, 43%);
}

.asd .price {
    margin-top: 0;
}

.asd .monthly-plan{
    margin-top: 6px;
    margin-left: 9px;
}
.asd{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}
.monthly-subscription, p, .price {
    color: #fff;
}

.monthly-subscription{
    padding-top: 20px;
    font-size: 1em;
}

.description{
    margin-top: 5px;
}

.btn{
    background-color: green;
    margin-bottom: 20px;
    padding: 10px 50px;
    width: 95%;
}

.price{
    margin-top: 20px;
}

.monthly-plan{
    color: hsl(218, 22%, 67%);
}


.footer{
    position: absolute;
    bottom: 0;
    display: none;
}
.attribution {font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }